*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding: 2rem;
}
:root{
  --main-color: #fd4646;
  --sec-color: #4946fd;
  --text-color: #171427;
  --bg-color: #fff;
}
::selection{
  color: var(--text-color);
  background-color: var(--main-color);
}
.container{
  max-width: 1068px;
  margin: auto;
  width: 100%;
}
section{
  padding: 4rem 0 3rem;
}
body{
    font-family: 'poppins',sans-serif;
    overflow-x: hidden;
}
nav{
    background-color: #fcf8f8;
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    /* box-shadow: 3px 3px  rgba(0, 0, 0, 0.1); */
    z-index: 999;
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 25px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    color: #5c5959; 
    border-radius: 15px;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }




/* SHOP SECTION  */
.shop{
  margin-top: 2rem;
}
.section-title{
  font-style: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
.shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}
.product-box{
  position: relative;
}
.product-box:hover{
  padding: 10px;
  border: 1px solid var(--text-color);
  transition: .4s;
}
.product-img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: .5rem;
}
.product-title{
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: .5rem;
}
.product-price{
  font-weight: 500;
}
.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(12, 144, 12);
  color: var(--bg-color);
  padding: 10px;
  cursor: pointer;
}
.add-cart:hover{
  background-color: hsl(128, 89%, 11%);
}


/* ================ RESPONSIVE & BREAKPOINTS ============= */
@media (max-width: 1080px){
  .nav{
      padding: 15px;
  }
  .container{
      width: 90%;
      margin: 0 auto;
  }
  section{
      padding: 3rem 0 2rem;
  }
  .shop{
      margin-top: 2rem;
  }
}

/* For Medium Devices */
@media (max-width: 400px){
  .nav{
      padding: 11px;
  }
  .logo{
      font-size: 1rem;
  }
  .cart{
      width: 320px;
  }
}

/* For Small Devices */
@media (max-width: 360px){
  .shop{
      margin-top: 1rem;
  }
  .cart{
      width: 280px;
  }
}


/* about us */


body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
